.pokemon-img {
  width: auto;
  height: 200px;
}

.pokemon-types,
.pokemon-status {
  margin: 15px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: mistyrose;
}

.btn-catch {
  font-size: 15px;
  font-weight: bold;
}

.btn-section {
  position: relative;
  top: 20px;
}

.pokeball-btn {
  margin: 20px;
  outline: none;
}

.pokeball-logo {
  width: 50px;
  height: auto;
}
