nav {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 15vh;
  background: rgb(240, 67, 67);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
  margin: 15px;
}

.img-logo {
  width: auto;
  height: 70px;
  margin: 5px;
}

.nav-style {
  font-size: 20px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
